<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mendmix.mybatis.test.mapper.SnsAccounyBindingEntityMapper" >
  <resultMap id="BaseResultMap" type="com.mendmix.mybatis.test.entity.SnsAccounyBindingEntity" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="user_id" property="userId" jdbcType="INTEGER" />
    <result column="sns_type" property="snsType" jdbcType="CHAR" />
    <result column="union_id" property="unionId" jdbcType="VARCHAR" />
    <result column="open_id" property="openId" jdbcType="VARCHAR" />
    <result column="enabled" property="enabled" jdbcType="BIT" />
    <result column="created_at" property="createdAt" jdbcType="TIMESTAMP" />
    <result column="created_by" property="createdBy" jdbcType="VARCHAR" />
    <result column="updated_at" property="updatedAt" jdbcType="TIMESTAMP" />
    <result column="updated_by" property="updatedBy" jdbcType="VARCHAR" />
  </resultMap>
  
  <select id="findBySnsOpenId" resultMap="BaseResultMap">
      SELECT id,user_id,sns_type,union_id,open_id,source_app_id,enabled FROM sns_account_binding WHERE sns_type = #{snsType} and open_id = #{openId}
  </select>
  
  <select id="findByWxUnionIdAndOpenId" resultMap="BaseResultMap">
      SELECT id,user_id,sns_type,union_id,open_id,source_app_id,enabled FROM sns_account_binding 
      WHERE union_id = #{unionId}
      <if test="openId != null">  
        and open_id = #{openId}
    </if> 
  </select>
  
  
  
  <select id="findByUnionId" resultMap="BaseResultMap">
      SELECT id,user_id,sns_type,union_id,open_id,source_app_id,enabled FROM sns_account_binding WHERE union_id = #{unionId}
       order by id
  </select>
  
  <select id="findByUserId" resultMap="BaseResultMap">
      SELECT id,user_id,sns_type,union_id,open_id,source_app_id,enabled FROM sns_account_binding WHERE user_id = #{userId}
  </select>
  
  <select id="findWxUnionIdByUserId" resultType="String">
      select union_id from sns_account_binding where user_id = #{userId} and enabled = 1 limit 1
  </select>
  
</mapper>