body{
  -webkit-user-select: initial;
}

.banner {
  width: 100%;
  overflow: hidden;
  background-color: #0a8;
}
.head-area.normal {
  background-color: #fff;
}
.banner-content {
	width: 1140px;
	margin: 0 auto;
	padding: 60px 0;
	color: #fff;
}
.banner-content h1 {
	font-size: 30px;
	padding-bottom: 10px;
}

.content {
	width: 1140px;
	margin: 0 auto;
	position: relative;
	min-height: 800px;
  padding: 20px 0;
}
.content > h2{
  font-size: 20px;
  margin: 10px 0;
}
.content > p{
  padding-left: 20px;
  line-height: 1.8;
}
.side-area {
  overflow: hidden;
  position: absolute;
  top: 20px;
  width: 220px;
  float: left;
}

.side-area a {
  font-size: 14px;
  display: block;
  padding: 8px 15px;
  position: relative;
  color: #333;
}

.side-area ul {
  padding: 0;
  margin: 0;
  list-style: none;
  line-height: normal;
}
.nav {
  display: none;
}
.nav li {
	padding-left: 20px;
	border-right: 1px solid #eee;
}
li.side-highlight {
	border: none;
}
.side-highlight .nav {
	display: block;
}
.side-highlight > a {
	color: #00a5e0;
}
.side-area .side-highlight a {
  transition: background-color 0.8s ease-out;
}
.side-area .side-highlight > a {
  border-right: 1px solid #025775;
}


.content-area {
  padding: 20px 15px 20px;
  width: 880px;
  margin: 0 0 20px 260px;
}

.content-area.full {
    width: 100%;
    margin: 0 0 20px 0px;
}

.group-head .group-title {
	font-size: 18px;
	padding-bottom: 15px;
	border-bottom: 1px solid #e5e5e5;
}
.frozen-module-title{
	color: #333;
	padding: 15px 0;
	font-size: 18px;
}
.frozen-module-head .introduce {
	padding-bottom: 15px;
}
.module-tags {
	display: block;
	position: relative;
}
.module-tags span,.module-tags a {
	position: absolute;
	width: 75px;
	height: 23px;
	color: #999;
	background-color: #f7f7f9;
	border:1px solid #ddd;

	text-align: center;
	font-size: 12px;
	line-height: 23px;

	z-index: 999;
}
.module-tags span.example {
	border-bottom-right-radius: 2px;
	border-top-left-radius: 5px;
}
.module-tags a.copy {
	right: 0;
	border-top-right-radius: 5px;
	border-bottom-left-radius: 2px;
	cursor: pointer;
}
.frozen-module-dom {
	border: 1px solid #ddd;
	border-radius: 5px;
	padding: 50px 30px 30px;
	background-color: #fff;
	position: relative;
}
.frozen-module-dom .dom-content {
	width: 375px;
    position: relative;
    z-index: 0;
}

.frozen-module-code code {
  font-size: 13px;
  line-height: 19px;
	background-color: #f8f8fa;
	padding: 22px 12px 12px;
	border: 1px solid #ddd;
	border-radius: 5px;
  overflow: auto;
  white-space: pre;
  z-index: -1;
  position: relative;
  top: -10px;
}
.frozen-module-code .ui-btn-wrap {
  padding: 20px 15px;
}

.icon-qr {
	background: url("../img/icon-qr.png") no-repeat;
	width: 20px;
  height: 20px;
  -webkit-background-size: 100% 100%;
  display: inline-block;
  vertical-align: middle;
  margin-left: 8px;
}
.doc-qrcode {
	padding: 10px;
	margin-top: 10px;
	background-color: #fff;
	border-radius: 10px;
	border: 1px solid #ccc;
	z-index: 9999;
	position: absolute;
	display: none;
}
.doc-qrcode:before {
	content: " ";
  position: absolute;
  display: block;
	height: 10px;
	width: 10px;
	border: 1px solid #ccc;
	background-color: #fff;
	-ms-transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	transform: rotate(45deg);
  border-bottom-color: transparent;
  border-right-color: transparent;
  left: 50%;
  margin-left: -5px;
  top: -7px;
}



.ui-dialog {
	height: 320px;
	margin: 0;
	position: relative;
}
.ui-actionsheet, .ui-actionsheet-cnt {
	position: relative;
}
.ui-btn-group.ui-btn-bottom, .ui-dialog, .ui-poptips, .ui-notice {
	position: relative;
	margin: 0;
}
.ui-btn-group, .ui-dialog, .ui-tips, .ui-notice {
	position: relative;
	margin: 0;
}
/*.ui-header, .ui-footer {
	position: absolute;
}*/
.ui-loading-block {
	position: relative;
}

.ui-header, .ui-footer {
  position: absolute; }

.ui-header h1{
  padding: 0;
  border-bottom: 0;
}

.ui-actionsheet,.ui-actionsheet-cnt{
    position: absolute;
}
.icon-lists{
  overflow: auto;
}

.icon-lists li{
  float:left;
  height: 100px;
  width: 103px;
  text-align: center;

}
.icon-lists li i{
    font-size: 32px;
    line-height: 44px;
}
.icon-lists .ui-icon,.icon-lists [class^="ui-icon-"]{
  margin: 10px 0;
  color: #000;
}
.code,.fontclass{
    font-size: 12px;
}
.ui-col{
    padding: 5px;
    background: #777;
    text-align: center;
    box-sizing: border-box;
    border: 1px solid #ddd;
}
.ui-flex{
    border: 1px solid #ddd;
    min-height: 80px;
    margin-bottom: 10px;
}
.ui-flex-ver{
    border: 1px solid #ddd;
    min-height: 80px;
    margin-bottom: 10px;
}
.ui-row-flex-ver{
    border: 1px solid #ddd;
    min-height: 100px;
}
.test-img {
    width: 50px;
    height: 50px;
    background: #777;
}
.ui-loading-block{
  position: absolute;
}
.ui-notice{
  height: 400px;
}
.ui-poptips {
  margin: 10px 0;
}
#actionsheet .dom-content{
  height: 320px;
}
#loading .dom-content{
  height: 200px;
}
.scroll-top-btn, .hide-demo-btn {
  position: fixed;
  display: none;
  width: 80px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  color: #00a5e0;
  border: 1px solid #2196f3;
}
.scroll-top-btn {
  bottom: 20px;
  right: 20px;
}
.customize {
    height: auto;
    overflow: hidden;
    margin: 30px auto;
}

.customize fieldset {
    width: 25%;
    padding-right: 10px;
    box-sizing: border-box;
    float: left;
    position: relative;
    word-wrap: break-word;
    word-break:break-all;
}
.customize .section-css {
    width: 22%;
}
.customize .section-ui {
    width: 28%;
}
.customize .section-zepto {
    width: 22%;
}
.customize .section-js {
    width: 28%;
}

.customize h2 {
    font-size: 20px;
    margin: 10px auto;
}

.customize .form-item {
    font-size: 16px;
    color: #777;
    margin-bottom: 10px;
    padding-left: 20px;
    position: relative;
}
.customize .form-item label {
	cursor: pointer;
}
.customize .form-item input {
	position: absolute;
	left: 0px;
	top: 4px;
}
.customize .form-item span {
    font-size: 12px;
    color: #999;
    margin-left: 5px;
}
.customize .btn-download {
    padding: 10px 0;
    width: 100%;
    border: 1px dashed #0088cc;
    border-radius: 5px;
    color: #0088cc;
    margin: 20px auto;
    font-size: 20px;
    cursor: pointer;
    background-color: #fff;

}

.customize .btn-download:hover {
    background-color: #0088cc;
    color: #fff;
    -webkit-transition: all .3s ease-out;
    -moz-transition: all .3s ease-out;
    transition: all .3s ease-out;
}

.fast-section {
    height: 40px;
    line-height: 40px;
    color: #999;
    font-size: 14px;
    position: relative;
}
.fast-section .toggle {
    cursor: pointer;
    border: 1px solid #dcdcdc;
    background-color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    position: absolute;
    font-size: 16px;
    right: 0;
    top: 0;
}
.fast-section .toggle:hover {
    background-color: #e5e5e5;
}
