

.banner {
  overflow: hidden;
  width: 100%;
  background-repeat: no-repeat;
  background-size: 100% 800px;
  background-position-y: -200px;
  background-color: #0a8;
}

.banner-content {
  height: 500px;
  max-width: 1140px;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  text-align: center;
}
.banner-content h1 {
  color: #fff;
  font-size: 50px;
}
.banner-content img {
  width: 180px;
  height: 180px;
  margin: 150px auto 0;
}

.banner-content .info {
  font-size: 24px;
  color: rgba(255,255,255,.8);
}
.banner-content .btn-group {
  margin-top: 40px;
}
.banner-content .btn-group .fz-btn {
  margin-right: 24px;
}
.fz-btn {
  font-size: 24px;
  padding: 15px;
  color: #fff;
  background-color: rgba(255,255,255,0.3);
  border-width: 0;
  border-radius: 5px;
  cursor: pointer;
}
.fz-btn:hover {
  background-color: rgba(255,255,255,0.2);
}
.fz-btn .btn-icon {
  background-repeat: no-repeat;
  background-size: 26px 26px;
  width: 26px;
  height: 26px;
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
}
.btn-icon.icon-start {
  background-image: url("../img/btn-icon1.png");
}
.btn-icon.icon-download {
  background-image: url("../img/btn-icon2.png");
  background-size: 26px 29px;
  width: 26px;
  height: 29px;
}

.new-function {
  width: 1140px;
  margin: 0 auto;
  text-align: center;
}
.new-function a {
  display: inline-block;
  width: 33%;
  padding: 70px 0;
}
.new-function a:hover {
  background-color: #f8f8f8;
}
.new-function img {
  width: 105px;
  height: 105px;
  margin: 0 auto;
  border-width: 0;
}

.function-item .function-info {
  font-size: 24px;
  font-family: "Microsoft YaHei";
  color: #00cffb;
  line-height: 30px;
}


.fr-content {
  width: 100%;
}
.fr-item-bg {
  background-color: #f4f4f4;
}
.fr-item {
  width: 1140px;
  margin: 0 auto;
  position: relative;
  padding: 80px 0;
}
.fr-item .rightside {
  position: absolute;
  right: 200px;
  top: 18px;
}
.fr-item .introduce .title{
  font-size: 32px;
  color: #767676;
  margin-bottom: 15px;
}
.fr-item .introduce{
  width: 440px;
  padding-left: 200px;
  font-size: 16px;
  color: #9f9f9f;
  line-height: 30px;
}

.fr-item.second {
  padding-top:18px;
  padding-bottom: 18px;
  background-color: #fff;
}
.fr-item.second img{
  padding-left: 200px;
}
.fr-item.second .introduce{
  top: 60px;
  text-align: right;
  padding-left: 0px;
}


.fr-show {
  background: url("../img/show-bg.png") no-repeat;
  background-size: 100% 830px;;
}
.fr-show .show-content {
  width: 1140px;
  height: 830px;
  margin: 0 auto;
  text-align: left;
  padding:0 10px;
  box-sizing: border-box;
  color: #fff;
  position: relative;
  overflow: hidden;
  /*display: none;*/
}
.case-frame {
  position: absolute;
  right: 0;
  top: -30px;
  width: 434px;
  height: 841px;
  background: url("../img/phone.png") no-repeat;
}
.frame-item {
  position: absolute;
  width: 353px;
  height: 629px;
  right: 40px;
  top: 100px;
}
/*.slider {
  width: 100%;
  overflow: hidden;
  position: relative;
  height: 510px;
}
.slider-content {
  display: -webkit-box;
  left: 0;
  top: 0;
}
.slider-content > li {
  -webkit-box-flex: 1;
  width: 100%;
  height: 449px;
}*/
/*.line {
  position: relative;
  top: -15px;
}*/

.show-title {
  font-size: 28px;
  padding: 70px 0 30px;
}
/*
.slider-indicators {
  width: 100%;
  text-align: center;
}
.slider-indicators li {
  display: inline-block;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  font-size: 0;
  width: 20px;
  height: 20px;
  border: 2px solid #757575;
  border-radius: 20px;
  margin-right: 6px;
  position: relative;
}
.slider-indicators li.current:before {
  content: '';
  position: absolute;
  background-color: #fff;
  left: 4px;
  top: 4px;
  width: 12px;
  height: 12px;
  border-radius: 10px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
*/

.fr-users {
  width: 1140px;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 100px;
}
.fr-users-content:after {
  width: 100%;
  content: "";
  clear: both;
  display: block;
}
.fr-users h2 {
  padding: 40px 0;
  font-size: 30px;
  color: #666;
}
.fr-users-content .user-item {
  height: 120px;
  line-height: 120px;
  width: 20%;
  float: left;
  font-size: 26px;
  color: #fff;
}
.user-item .user-logo {
  background-image: url("../img/qq.png");
  background-repeat: no-repeat;
  background-size: 35px 46px;
  width: 35px;
  height: 46px;
  display: inline-block;
  vertical-align: sub;
}
.user-item:nth-child(1) {
  background-color: #e94220;
}
.user-item:nth-child(2) {
  background-color: #18a9de;
}
.user-item:nth-child(3) {
  background-color: #545252;
}
.user-item:nth-child(4) {
  background-color: #2ec29d;
}
.user-item:nth-child(5) {
  background-color: #ffb600;
}
.user-item:nth-child(6) {
  background-color: #ad290e;
}
.user-item:nth-child(7) {
  background-color: #077fab;
}
.user-item:nth-child(8) {
  background-color: #303030;
}
.user-item:nth-child(9) {
  background-color: #0f9070;
}
.user-item:nth-child(10) {
  background-color: #da9c00;
}








@media screen and (max-width: 980px) {
  


  .banner {
    display: none;
  }
  .new-function,.info-item {
    width: 100%;
  }
  .new-function a {
    width: 100%;
    padding: 20px 0;
  }
  .fr-item {
    width: inherit;
    padding: 20px;
  }
  .fr-item .rightside {
    position: initial;
    margin: 0 auto;
    display: block;
  }
  .fr-item .introduce {
    padding-top: 20px;
    width: 100%;
    padding-left: 0;
    text-align: center;
  }
  .fr-item.second .introduce {
    text-align: center;
  }
  .fr-item.second img {
    padding-left: 0;
    margin: 0 auto;
    display: block;
  }
  .fr-show .show-content {
    width: 100%;
  }
  .show-case {
    display: none;
  }

/*  .line {
    width: 100%;
  }*/
  .fr-users {
    width: 100%
  }
  .user-item .user-logo {
    display: none;
  }
  .fr-users-content .user-item {
    width: 50%;
  }



}