<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jeesuite.mybatis.test.mapper.UserEntityMapper">
  <resultMap id="BaseResultMap" type="com.jeesuite.mybatis.test.entity.UserEntity">
    <!--
      WARNING - @mbggenerated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="password" jdbcType="CHAR" property="password" />
    <result column="mobile" jdbcType="CHAR" property="mobile" />
    <result column="email" jdbcType="VARCHAR" property="email" />
    <result column="company_id" jdbcType="VARCHAR" property="companyId" />
    <result column="type" jdbcType="SMALLINT" property="type" />
    <result column="status" jdbcType="SMALLINT" property="status" />
   <result column="created_at" property="createdAt" jdbcType="TIMESTAMP" />
    <result column="created_by" property="createdBy" jdbcType="VARCHAR" />
    <result column="updated_at" property="updatedAt" jdbcType="TIMESTAMP" />
    <result column="updated_by" property="updatedBy" jdbcType="VARCHAR" />
    <result column="version" property="version" jdbcType="INTEGER" />
    <result column="is_deleted" jdbcType="BIT" property="deleted" />
  </resultMap>
  
  <select id="findByType" resultMap="BaseResultMap">
      SELECT * FROM users where type = #{type} 
  </select>
  
  <select id="findByStatus" resultMap="BaseResultMap">
      SELECT * FROM users where status = #{status} 
  </select>
  
  <select id="findByMobile" resultMap="BaseResultMap">
      SELECT * FROM users where mobile = #{mobile} 
  </select>
  
  <select id="findByIds" parameterType="java.util.List" resultMap="BaseResultMap">
      SELECT * FROM users where id in
     <foreach item="id" index="index" collection="list" open="(" separator="," close=")">
			#{id}
	 </foreach>
  </select>
  
   <select id="findMobileByIds" parameterType="java.util.List" resultType="String">
      SELECT mobile FROM users where id in
     <foreach item="id" index="index" collection="list" open="(" separator="," close=")">
			#{id}
	 </foreach>
  </select>
  
  <select id="queryByExample" resultMap="BaseResultMap" parameterType="com.jeesuite.mybatis.test.entity.UserEntity">
      SELECT * FROM users where 1=1
      <if test="name != null">  
        AND name = #{name}  
    </if> 
    <if test="mobile != null">  
        AND mobile = #{mobile}  
    </if> 
    <if test="dataProfileValues != null">  
        AND name = #{dataProfileValues.type}
    </if> 
    <if test="type != null"><![CDATA[and type >=#{type}  ]]></if>
	<if test="status != null"><![CDATA[and status <=#{status}  ]]></if>
  </select>
  
  <select id="pageQuery" parameterType="map" resultMap="BaseResultMap">
    select * from users
    <where>
      <if test="example.status != null">
        and status = #{example.status}
      </if>
      <if test="example.name != null">
        and UPPER(name) like CONCAT('%', UPPER(#{example.name}), '%')  
      </if>
    </where>
    order by id desc
  </select>
  
  <update id="updateType" parameterType="map">
     update users set type = #{type},updated_at = now() where id in
     <foreach item="id" index="index" collection="ids" open="(" separator="," close=")">
			#{id}
	 </foreach>
  </update>
  
  <update id="batchDisabled" parameterType="list">
     update users set status = 0,updated_at = now() where id in
     <foreach item="id" index="index" collection="list" open="(" separator="," close=")">
			#{id}
	 </foreach>
  </update>
  
  <update id="updateByExample" parameterType="com.jeesuite.mybatis.test.entity.UserEntity">
     update users set type = #{type},updated_at = now(),status = #{status}
     <where>
     <if test="name != null">  
        AND name = #{name}  
    </if> 
    <if test="mobile != null">  
        AND mobile = #{mobile}  
    </if> 
     </where>
  </update>
  
   <select id="findByLoginName" resultMap="BaseResultMap">
    select * from users 
    where (name = #{name} or email = #{name} or mobile = #{name})
  </select>
  
  <select id="findByWxUnionId" resultMap="BaseResultMap">
    select * from users 
    where id = (select user_id from sns_account_binding where union_id = #{unionId}  and enabled = 1 limit 1)
  </select>
  
  <select id="findByWxOpenId" resultMap="BaseResultMap">
    select * from users u
    left join sns_account_binding b on u.id = b.user_id
    where b.open_id = #{openId}
  </select>
  
  <select id="findWxUnionIdByUserId" resultType="String">
    select union_id from sns_account_binding where user_id = #{userId} and enabled = 1 limit 1
  </select>
  
  <update id="updateByMap">
     update users set type = #{type},updated_at = now(),status = #{status}
     <where>
     <if test="name != null">  
        AND name = #{name}  
    </if> 
    <if test="mobile != null">  
        AND mobile = #{mobile}  
    </if> 
     </where>
  </update>
  
  <update id="updateTypeByExample">
     update users set type = #{type},updated_at = now()
     <where>
     <if test="example.name != null">  
        AND name = #{example.name}  
    </if> 
    <if test="example.mobile != null">  
        AND mobile = #{example.mobile}  
    </if> 
     </where>
  </update>
  
  <select id="testQuery1" parameterType="map" resultMap="BaseResultMap">
    select u.* from users u,sns_account_binding a
    <where>
      <if test="status != null">
        and u.status = #{status}
      </if>
      <if test="name != null">
        and u.name like CONCAT('%', #{name}, '%')  
      </if>
      and u.id = a.user_id
    </where>
    order by id desc
  </select>
  
</mapper>