<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jeesuite.mybatis.test.mapper.UserEntityMapper">
  <resultMap id="BaseResultMap" type="com.jeesuite.mybatis.test.entity.UserEntity">
    <!--
      WARNING - @mbggenerated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="password" jdbcType="CHAR" property="password" />
    <result column="mobile" jdbcType="CHAR" property="mobile" />
    <result column="email" jdbcType="VARCHAR" property="email" />
    <result column="type" jdbcType="SMALLINT" property="type" />
    <result column="status" jdbcType="SMALLINT" property="status" />
    <result column="created_at" jdbcType="TIMESTAMP" property="createdAt" />
    <result column="updated_at" jdbcType="TIMESTAMP" property="updatedAt" />
  </resultMap>
  
  <select id="findByType" resultMap="BaseResultMap">
      SELECT * FROM users where type = #{type} 
  </select>
  
  <select id="findByStatus" resultMap="BaseResultMap">
      SELECT * FROM users where status = #{status} 
  </select>
  
  <select id="findByMobile" resultMap="BaseResultMap">
      SELECT * FROM users where mobile = #{mobile} 
  </select>
  
   <select id="findMobileByIds" parameterType="java.util.List" resultType="String">
      SELECT mobile FROM users where id in
     <foreach item="id" index="index" collection="list" open="(" separator="," close=")">
			#{id}
	 </foreach>
  </select>
  
  <select id="queryByExample" resultMap="BaseResultMap" parameterType="com.jeesuite.mybatis.test.entity.UserEntity">
      SELECT * FROM users where 1=1
      <if test="name != null">  
        AND name = #{name}  
    </if> 
    <if test="mobile != null">  
        AND mobile = #{mobile}  
    </if> 
    <if test="type != null"><![CDATA[and type >=#{type}  ]]></if>
	<if test="status != null"><![CDATA[and status <=#{status}  ]]></if>
  </select>
  
  <select id="countByExample" resultType="int" parameterType="com.jeesuite.mybatis.test.entity.UserEntity">
      SELECT count(0) FROM users where 1=1
      <if test="name != null">  
        AND name = #{name}  
    </if> 
    <if test="mobile != null">  
        AND mobile = #{mobile}  
    </if> 
  </select>
  
  <select id="pageQuery" parameterType="map" resultMap="BaseResultMap">
    select * from users
    <where>
      <if test="example.status != null">
        and status = #{example.status}
      </if>
      <if test="example.name != null">
        and UPPER(name) like CONCAT('%', UPPER(#{example.name}), '%')  
      </if>
    </where>
    order by id desc
  </select>
  
  <update id="updateType" parameterType="map">
     update users set type = #{type} where id in
     <foreach item="id" index="index" collection="ids" open="(" separator="," close=")">
			#{id}
	 </foreach>
  </update>
  
  <update id="updateType2" parameterType="com.jeesuite.mybatis.test.entity.UserEntity">
     update users set type = #{type} where 1=1
     <if test="name != null">  
        AND name = #{name}  
    </if> 
    <if test="mobile != null">  
        AND mobile = #{mobile}  
    </if> 
  </update>
  
   <select id="findByLoginName" resultMap="BaseResultMap">
    select * from users 
    where (name = #{name} or email = #{name} or mobile = #{name})
  </select>
  
  <select id="findByWxUnionId" resultMap="BaseResultMap">
    select * from users 
    where id = (select user_id from sns_account_binding where union_id = #{unionId}  and enabled = 1 limit 1)
  </select>
  
  
  <select id="findWxUnionIdByUserId" resultType="String">
    select union_id from sns_account_binding where user_id = #{userId} and enabled = 1 limit 1
  </select>
  
</mapper>